<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup_form.css">
    <link rel="stylesheet icon " href="styles.css">
    <link rel="icon" href="/static/images/pic5.png"  type="image/x-icon">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <center><h1 style="color: rgb(249, 250, 253); background: linear-gradient(to right, #4a90e2, #50e3c2); -webkit-background-clip: text; color: transparent;">SIGN UP</h1></center>


        <a href="signup_doctor.html" class="button">Doctor</a>
        <a href="signup_patient.html" class="button">Patient</a>
    </div>
</body>
</html>
